.logo {
    width: 80px;
    height: 70px;
}

#navitem0 {
    color: #323f4b;
    font-family: "Roboto";
}

#navitem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navitem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navitem3 {
    color: #323f4b;
    font-family: "Roboto";
}

.banner-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    background-size: cover;
    height: 100vh;
}

.banner-container-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-container-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.banner-view-menu {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.banner-order-now {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-main-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.offer {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.em-section {
    background-color: white;
}

.em-main-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.em-card {
    border-radius: 16px;
}

.em-card-image {
    border-radius: 16px;
    width: 100%;
}

.em-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.em-view-all {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.healthyfood-section {
    background-color: #f9fbfe;
}

.healthyfood-section-img {
    width: 270px;
}

.healthyfood-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.healthyfood-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.watch-video-button {
    width: 130px;
    height: 45px;
    color: white;
    background-color: #d0b200;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.dp-section-img {
    width: 270px;
}

.dp-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.dp-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.dp-payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.thank-you-section {
    background-color: #d0b2001a;
}

.thank-you-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thank-you-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thank-you-img {
    width: 270px;
    margin-bottom: 20px;
}